<header class="surface_no_border top_level_header">
    
    <% if (locals.has_nav)
    { %>
        <button class="navigation_opener" aria-label="Развернуть меню навигации">
            <div></div><div></div><div></div>
        </button>
    <% } %>

    <div class="userinfo">
        <div>TTPO100AJIEX</div>
        <div> <span>Доступ:</span> <span>RIUDA</span> </div>
    </div>
    
    <div class="flex_fill" role="presentation"></div>
    <button class="control_empty">Сохранить</button>
    <a href="/logout" class="control_empty">Выйти</a>
</header>