<header class="surface">

    <div class="siteinfo flex_horizontal">
        <% if (locals.has_nav)
        { %>
            <button class="striped_button navigation_opener desktop_hidden" title="Развернуть меню навигации">
                <span></span><span></span><span></span>
            </button>
        <% } %>
        <div class="userinfo text_nowrap">
            <div class="text_size_medium"><%=req.authorization.login%></div>
            <div class="text_size_small"> <span class="text_minor">Доступ:</span> <span class="text_brand"><%=req.authorization.permissions%></span> </div>
        </div>
    </div>
    
    <div class="navigation"></div>

    <div class="controls">
        <button id="save_changes" class="control_empty padding_regular_wide" hidden>Сохранить</button>
        <a href="/logout" class="control_empty padding_regular_wide">Выйти</a>
    </div>
</header>