<nav class="surface_no_border closed" id="navigation">
    <h2 class="block_minheight">Навигация</h2>
    <menu class="no_bullets margin_vertical_enormous">
        <li class="desktop_hidden"><button class="control_empty block_maxwidth text_align_left navigation_closer" href="#">Закрыть меню</div></li>
        <li class="desktop_hidden"><hr></li>
        <li><a class="control_block block_maxwidth" href="#">База данных</a></li>
        <li>
            <!--<li><button class="control_filled block_maxwidth" href="#">Таблица 1</div></li>-->
            <menu class="no_bullets">
                <li><div class="control_filled block_maxwidth" href="#">Таблица 1</div></li>
                <li><div class="control_filled block_maxwidth">Таблица 3</div></li>
                <li><a class="control_block block_maxwidth" href="#">Таблица 2</a></li>
                <li><a class="control_block block_maxwidth" href="#">Таблица 4</a></li>
            </menu>
        </li>
    </menu>
</nav>
<div id="navigation_backdrop" class="closed desktop_hidden"></div>