<nav class="surface_no_border mobile_hidden" id="navigation">
    <h2 class="block_minheight">Навигация</h2>
    <menu class="no_bullets margin_vertical_huge">
        <li><div class="control_filled block_maxwidth" href="#">Таблица 1</div></li>
        <li><a class="control_block block_maxwidth" href="#">Таблица 2</a></li>
        <li><div class="control_filled block_maxwidth">Таблица 3</div></li>
        <li><a class="control_block block_maxwidth" href="#">Таблица 4</a></li>
    </menu>
</nav>