/*--------------------------BODY--------------------------*/
@layer body
{
    body { display: grid; grid-template-columns: minmax(320px, max-content) 1fr; grid-template-rows: auto 1fr; gap: 1px; --transitioned: grid-template-columns; }
}

/*--------------------------NAV--------------------------*/
@layer nav
{
    nav { grid-row: 1 / -1; height: 100vh; overflow: auto; min-width: 320px; --transitioned: translate; }
}

/*----------------------NAVIGATION OPENER----------------------*/
@layer navigation_opener
{
    .navigation_opener
    {
        background: transparent; border: none; padding: 0;
        display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
        height: 40px; width: 40px; border-radius: var(--border-radius-small);
    }
    .navigation_opener > div { background: var(--text-major-color); border-radius: var(--border-radius-small); width: 80%; height: 4px; }
    .navigation_opener:hover > div { background: var(--brand-color); }
    
    .navigation_opener { display: none; }
    @media (max-width: 1000px)
    {
        body { grid-template-columns: 1fr; }
        .navigation_opener { display: flex; }

        nav { position: fixed; top: 0; left: 0; /*z-index: 10;*/ translate: 0; }
        nav.mobile_hidden { translate: -100%; }
    }
}