<% locals.has_nav = true; %>
<!DOCTYPE html>
<html lang='ru'>
    <head>
        <title>База данных</title>
        <meta name="description" content="База данных">
        <%- include("./general/head.ejs", locals) %>
    </head>
    <body>
        <%- include("./general/nav.ejs", locals) %>
        
        <div class="main_body">
            <%- include("./general/header.ejs", locals) %>
            <main tabindex="-1">
    
            </main>
        </div>
    </body>
</html>